# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
